@using WebStone.HtmlHelpers
@model IEnumerable<CQS.Models.DeckViewModel>
@{
    Layout = MVC.Shared.Views._Layout;
}

@foreach(var deck in Model)
{
    <div>
        <h3>@deck.Name</h3>
        
        <h4>@Html.HeroClassToIcon(@deck.Hero)</h4>
        @Html.ActionLink("View deck", "CardList", new { deckId = @deck.Id })
    </div>
}