@model CQS.QueryHandler.AllCardsQueryResult
@{
    Layout = MVC.Shared.Views._Layout;
}

@foreach (var card in Model.CardViewModels)
{
    <div style="border: 2px solid black;">
        <div>@card.Name</div>
        <div>@card.Text</div>   
        <div>@card.Attack</div>  
        <div>@card.Cost</div>
    </div>
}
<div>
    <div>
        @Html.ActionLink("Previous", "Index", new { page = @Model.PagingInfo.CurrentPage - 1 })
    </div>
    <div>
        @Html.ActionLink("Next",  "Index", new {page = @Model.PagingInfo.CurrentPage + 1})
    </div>
</div>